{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
      "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
      "sourceType": "module", // Allows for the use of imports
      "ecmaFeatures": {
        "jsx": true // Allows for the parsing of JSX
      }
  },
  "settings": {
    "version": {
      "react": "detect"
    }
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
  ],
  "rules": {
    "strict": 0,
    "curly": ["warn", "always"],
    "semi": ["warn", "always"],
    "no-use-before-define":"warn",
    "@typescript-eslint/no-use-before-define":"warn",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "react/prop-types": 0,
    "react/no-unescaped-entities": "warn"
  },
  "plugins": [
    "react"
  ]
}